body{
    background-color: green;
}

.bar{
    height: 30px;
}

.containercards{
    height: 180px;

}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    height: 100%;
    margin: 2% ;
    width: 120px;
}

.card .number {
    display: block;
    font-size: 52px;
    text-align: center;
    width: 100%;
}

.card .spade::before {
    content: '\2660';
    width: 100%;
    display: block;
    text-align: left;
    height: 40%;
    padding-left: 0px;
}
.card .spade::after {
    content: '\2660';
    width: 100%;
    display: block;
    text-align: left;
    height: 60px;
    padding-right: 0px;
    transform: rotate(180deg);
}

.card .cubs::before {
    content: '\2663';
    width: 100%;
    display: block;
    text-align: left;
    height: 40%;
    padding-left: 0px;
}
.card .cubs::after {
    content: '\2663';
    width: 100%;
    display: block;
    text-align: left;
    height: 60px;
    padding-right: 0px;
    transform: rotate(180deg);
}

.card .hearts::before {
    content: '\2665';
    width: 100%;
    display: block;
    text-align: left;
    height: 40%;
    padding-left: 0px;
    color: red;
}
.card .hearts::after {
    content: '\2665';
    width: 100%;
    display: block;
    text-align: left;
    height: 60px;
    padding-right: 0px;
    transform: rotate(180deg);
    color: red;
}

.card .diamonds::before {
    content: '\2666';
    width: 100%;
    display: block;
    text-align: left;
    height: 40%;
    padding-left: 0px;
    color: red;
}
.card .diamonds::after {
    content: '\2666';
    width: 100%;
    display: block;
    text-align: left;
    height: 60px;
    padding-right: 0px;
    transform: rotate(180deg);
    color: red;
}